<!DOCTYPE html>
<html>
<head>
	<title>$$$</title>

	<style>
		table {border: 1px solid black;}
		td {border: 1px solid black;}
		th {border: 1px solid black;}
		img {width: 250px; height: 250px;}
	</style>
</head>

<body>
	<h1>Black Market Kicks</h1>
	<table>
		<tr>
			<th>Sneaker Name</th>
			<th>Image</th>
			<th>StockX Price</th>
		<tr>

		<!--For all entries, td1 = name, td2= img, td3 = stockX price-->
		{% for entry in stockX%}
		<tr>
			<td>{{entry.name}}</td>
			<td><img src={{entry.image}}></td>
			<td>{{entry.price}}</td>
		</tr>
		{% endfor %}
	<table>
</body>
</html>